.btn-purple {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: white;
}
.btn-purple:hover {
  background-color: #5a32a3;
  border-color: #5a32a3;
}
.btn-outline-purple {
  border-color: #6f42c1;
  color: #6f42c1;
}
.btn-outline-purple:hover {
  background-color: #6f42c1;
  color: white;
}